#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  position: absolute;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  z-index: 100; 
}

.global-link {
  text-decoration: none;
  color: var(--clr-light-a0)
}
.sidebar.collapsed + .main-content {
  margin-left: 70px;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  
  .sidebar.collapsed {
    transform: translateX(0);
    width: 250px;
  }
  
  .main-content {
    margin-left: 0 !important;
  }
}